@import "./../../css/mixin";

header {
  position: relative;
  background-color: #000;
  @include wh(100%, 116px);

  .container {
    height: 100%;
    margin: 0 93px 0 105px;

    .logo {
      position: absolute;
      top: 42px;
      transform: scale(1.5);
      @include wh(60px, 28px);
    }

    nav {
      margin-top: 26px;
      ul {
        margin-right: 45px;
        li {
          float: left;
          margin: 16px 18px 0 ;
          a {
            padding-right: 18px;
            padding-bottom: 10px;
            border-bottom: 1px solid transparent;
            font-size: 14px;
            @include icon-custom('./assets/arr_down.png', right, 10px, 9px, 6px);
            &:hover {
              border-color: #fff;
            }
          }
        }
      }
      .button {
        line-height: 55px;
        text-align: center;
        border-radius: 24px;
        background-color: #4c4c4c;
        @include wh(130px, 55px);
      }
    }
  }

  .cover {
    position: absolute;
    top: 68px;
    z-index: 99;
    @include wh(115px, 115px);
    @include icon-normal('./assets/cover.png');
  }
}