@import "./mixin";

.wrapper {
  min-width: 1200px;

  section {
    width: 100%;
  }

  .banner {
    position: relative;
    a {
      position: absolute;
      left: 0;
      top: 0;
      @include wh(100%, 100%);
    }
  }

  .features {
    margin-top: 62px;
  }

  #about {
    margin-top: 48px;
  }

  footer {
    margin-top: 59px;
  }
}
